node_modules/
mainTest.csv
files/testSelection.csv
package-lock.json
info.txt
tools/combinationsScorerOutput
tools/*.csv
tools/uuid-newdataset.
tools/correlationOutput.csv
tools/output.csv
ddMinOutputs.csv
linMinOutputs.csv
binaryMinOutputs.csv
testCaseSelectionOutputs.csv
testCaseSelectionDebug.csv
